/* Common Body style */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* Given Store name */
#store-name{
  width: 40%;
  font-weight: 900;
  color: #3d463d;
  margin: 20px 10px 0px 31%;
  padding: 5px;
  
}
#store-name-span{
  color: #ff7200;
}

/* For the Search Area */
.search-box {
  margin-top: 28px;
  margin-bottom: 28px;
}
.search-field {
  width: 30%;
  margin: 0px 10px 0px 30%;
  padding: 15px;
  box-shadow: 0px 1px 9px #8080807d;
  border: 0px solid gray;
  border-radius: 7px 0px 0px 7px;
  outline: none;
}
/* For Search Button */
#btn-custom{
  padding: 15px;
  margin-top: -2px;
  margin-left: -14px;
  box-shadow: 0px 1px 9px #8080807d;
  border: 0px solid gray;
  border-radius: 0px 7px 7px 0px;
  outline: none;

}
/* This section is for All products style */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
/* This is for Single Product Style */
.single-product {
  box-shadow: 2px 2px 17px #2c282869;
  border-radius: 10px;
  height: 485px;
  border: 0px solid gray;
  padding: 10px;
  transition: 0.4s;
  background-color: whitesmoke;
  background-blend-mode: multiply;
}
/* Product Hover Effect */
.single-product:hover {
  box-shadow: 6px 6px 17px gray;
  border-radius: 30px;
  border: 2px solid gray;
  
}
/* Product Image */
.product-image {
  width: 150px;
  height: 150px;
  mix-blend-mode: multiply;
}
/* This is for Card Section */
.cart {
  background-color: #5cb85c;
  width: 350px;
  padding: 10px;
  box-shadow: 0px 2px 20px #211d1dab;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  right: -24px;
  top: 160px;
  color: white;
}
.cart-main {
  background-color: white;
  padding-right: 30px;
}

/* This is for Responsive */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
/* This is for Responsive Mobile View*/
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
